












*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #fdab5a;
}


/* header style */

header{
    width: 100%;
    height: 100px;
    background-color: #17030e;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo-header-div{
    width: 85px;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    left: 70px;
}

.logo-header-img{
    width:80px;
    cursor: pointer
}


/* ------ */

.nav-header{
    width: 500px;
    position: relative;
    left: 600px;
}

.nav-header-list{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.nav-item{
    color: white;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

.nav-item:hover{
    transform: scale(1.1);
    transition: 200ms;
    color: #fdab5a;
}

.user-icon{
    position: relative;
    left: 650px;
    font-size: 3rem;
}

.user-icon i{
    color: white;
}

.user-icon i:hover{
    transform: scale(1.1);
    transition: 200ms;
    color: #fdab5a;
}



/* home */

.section-home{
    background-image: url(../assets/imgs/background-home-1-orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


.title-home{
    position: relative;
    top: 200px;
    left: 200px;
    width: 950px;
    text-align: center;
}

.title-home h1{
    font-size: 6rem;
    font-family: 'Creepster', cursive;
    color: #17030e;
}



/* movies section */
.section-movies{
    width: 100%;
    height: 2200px;
    background-color: #17030e;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-movies-section{
    position: relative;
    top: 100px;
    width: 250px;

}

.title-movies-section h1{
    font-size: 6rem;
    font-family: 'Creepster', cursive;
    color: white;
    cursor: default;
}


.movies-content-list{
    width: 1000px;
    height: 1500px;
    position: relative;
    top: 200px;
}


.movie{
    justify-content: center;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.movie img{
    width: 220px;
    border: 5px solid #fdab5a;
}

.movie:hover{
    transform: scale(1.1);
    transition: 400ms;
}


.description-content-movie{
    background-color: rgba(0, 0, 0, 0.5);
    height: 330px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-content-movie p{
    font-size: 1.2rem;
    color: aliceblue;
    text-align: left;
    width: 600px;;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 7px;

}

.description-content-movie button{
    color: white;
    background-color: #fdab5a;
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: 5px;
    border: none;
    width: 150px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.description-content-movie button:hover{
    transform: scale(1.1);
    transition: 200ms;

}

.reverse-row{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}














.section-games{
    background-image: url(../assets/imgs/background-home-2-orange.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 2100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdab5a;
    
}

.title-games{
    position: relative;
    top: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.title-games h1{
    font-size: 6.3rem;
    font-family: 'Creepster', cursive;
    color: white;
    cursor: default;
}

.content-games-list{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    height: 1500px;
}

.game{
    position: relative;
    width: 480px;
    height: 530px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;

}

.game:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.image-game img{
    width: 480px;
}

.description-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.description-game h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}


.description-game p{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    width: 455px;
}

.button{
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #17030e;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 460px;
    text-decoration: none;
}

.description-game .button:hover{
    transform: scale(1.1);
    transition: 300ms;
}

footer{
    background-color: #17030e;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1{
    color: #fdab5a;
    font-size: 1rem;
}

footer h1 a{
    color: aliceblue;
    text-decoration: none;
}

footer h1 a:hover{
    border-bottom: 1px solid aliceblue;
    transition: 300ms;
}